<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.dennisjacob.whatsapp_stickers_handler">

    <application
        android:allowBackup="false"
        android:fullBackupContent="false">

        <provider
            android:name=".StickerContentProvider"
            android:authorities="${applicationId}.stickercontentprovider"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.whatsapp.sticker.READ" />
    </application>

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
    </queries>
</manifest>
